<general-form
    [props]="{
        schema       : loginSchema,
        fields       : {
            email           : '',
            password        : ''
        },
        elements     : [
            {category: 'input', name: 'email', type: 'email'},
            {category: 'input', name: 'password', type: 'password', class: 'col-6'},
        ],
        submitBtn    : {innerText: 'Save'}
    }"
    (handleSubmit)="handleSubmit($event)"
></general-form>
<button (click)="handleSubmit($event)">Test</button>